.ContentWrapper {
  background: linear-gradient(
    180deg,
    #4b0082 0%,
    black 25%,
    black 75%,
    #4b0082 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  color: white;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  @media (max-width: 500px) {
    grid-template-columns: 1fr; /* 画面幅が500px未満の場合は1列に */
  }
}

.ContentCard {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.ContentCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.ContentCard img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.ContentCard h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.ContentCard p {
  font-size: 1rem;
  color: #ddd;
}
