.TopPageWapper {
  background: linear-gradient(180deg, black 0%, black 50%, #4b0082 100%);
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
}
.WelcomeMessageWapper {
  font-size: 2rem;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

.GlobWapper {
  width: 100%;
  /* background-color: black; */
}
